<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <h1>Tela de Login</h1> 
    <p>Essa eh a minha tela de login</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ÇAccusamus temporibus exercitationem laboriosam aspernatur quibusdam adipisci nobis numquam voluptatem. Culpa, voluptates excepturi! Ducimus aliquid blanditiis id beatae debitis enim! Deserunt, facilis.</p>  
    <p>
        <h2>testando links</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero aut quis possimus nam tempore voluptas voluptate doloribus recusandae facilis, similique numquam sapiente maxime accusamus saepe debitis quas autem exercitationem. <br>
            <a href="/view/telaInicial.html" target="_self" rel="next">segunda página</a> <br>
            <a href="https://www.youtube.com/watch?v=jMcV_OP8LSw&list=RDjMcV_OP8LSw&start_radio=1" target="_blank" rel="external">youtube</a>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jMcV_OP8LSw?si=uTMzdtmglJFN5x9w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </p>
    </p> 
</body>
</html>