@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ffffff;
}

header { /* titulo atividades*/
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 900px;
    position: relative;
}

.header-right {
    position: absolute;
    right: 20px;
    top: 20px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.icon:hover {
    background-color: #004A7B;
    color: #ffffff;
}

.logo img{
    width: 250px;
    margin-bottom: 50px;
    /*margin-right: 10px;*/
}

aside {
    background-color: #007BCC;
    color: #ffffff;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

aside ul li a.active {
    background-color: #ffffff;
    color: #00004D;
    padding: 10px;
    border-radius: 20px;
}

main {
    margin-left: 300px; /* Espaço para o aside */
    padding: 20px;
}

table { /*tabela*/
    width: 30%;
    border-collapse: collapse;
    /*margin-top: 20px;*/
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

thead th {
    background-color: #2BA7E2;
    color: white;
}

.input-data {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

/*.periodo {
    display: flex;
    justify-content: space-between;
}*/

input[type="date"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.sidebar-right {
    width: 315px;
    background-color: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 80px; 
    bottom: 0; 
    box-shadow: none;
    border-radius: 12px;
}

.oficinas-section {
    margin-top: 20px;
}

.oficinas-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #333;
}

.oficinas-list {
    list-style-type: none;
    margin-bottom: 20px;

}

.oficinas-list li {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.oficinas-list li#h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #00004D;
}

.oficinas-list li#cor1{
border-left: 15px solid #007BCC;
}

.oficinas-list li#cor2{
    border-left: 15px solid orange;
}

.oficinas-list li#cor3{
    border-left: 15px solid yellow;
}

.oficinas-list li#cor4{
    border-left: 15px solid #00004d;
}

.oficina p {
    margin-bottom: 5px;
    font-size: 17px;
    color: #555;
}

.show-more-btn {
    background-color: #007BCC;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
