* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #F2F2FC;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
    padding: 20px;
    flex-direction: column;
    margin-left: 300px;
}

.menu-lateral {
    width: 300px;
    background-color: #007BCC;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.menu-lateral h2 {
    margin-bottom: 30px;
    text-align: center;
}
.logo-ellp {
    width: 105%;
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    clip-path: polygon(0 0, 92.5% 0, 92.5% 100%, 0 100%);
}
.menu-item:hover, .menu-item.ativo {
    background-color: #ddd;
    font-weight: bold;
}

.menu-item.active {
    background-color: #ffffff;
    color: #00004d;
}
.menu-item.ativo {
    font-size: 18px; 
    padding: 12px; 
    padding-left: 20px;
    margin-left: -20px; 
    width: calc(98% + 65px); 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.header h1 {
    font-size: 44px;
    color: #00004D;
    margin-bottom: 0px;
    margin-left: 30px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icon {
    position: relative;
    cursor: pointer;
}

.icon img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.477);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url("../images/logo\ ellp\ vazia.png");
    background-size: cover;
    background-position: center;
}

.username {
    position: absolute;
    top: 30px;
    right: 95px;
    font-size: 18px;
    font-weight: bold;
    color: #00004d;
}

.user-role {
    position: absolute;
    top: 52px;
    right: 95px;
    font-size: 16px;
    color: #555;
}

.table-container {
    flex-grow: 1;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th, table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #007BCC;
    color: white;
}

.checkbox-column {
    width: 40px;
    text-align: center;
}

.actions {
    display: flex;
    gap: 10px;
}

.actions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007BCC;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button.selected {
    background-color: white;
    color: #007BCC;
    border: 2px solid #007BCC;
}

.pagination button:hover {
    opacity: 0.8;
}
