@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    height: 100vh;
    background-color: #007BCC; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BCC; 
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 250px;
    margin-right: 10px;
}

.auth-buttons {
    display: flex;
    padding-right: 50px;
}

.registrar{
    background-color: #004A7B;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    display: flex;
    font-size: 16px;
}

.registrar i{
    padding-right: 10px;
}

.registrar a{
    color: #ffffff;
    text-decoration: none;
}

.entrar{
    background-color: white;
    color: #00004D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

.entrar a{
    color: #00004D;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);  
    padding-top: 200px; 
    padding-left: 20px;
    padding-right: 20px;
}

.form {
    flex: 0 0 30%;
    padding: 40px;
    margin-left: 20px;
    text-align: center;
}

.status{
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 15px;
}

.status label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
}

.status .radio-group{
    display: flex;
    align-items: center;
    gap: 10px;
}

.status input[type="radio"]{
    margin-right: 2px;
    accent-color: #00004D;
}

.status .radio-group label{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="number"],
input[type="estado"],
select#istate {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #797979;
    outline: none;
}

.tab {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
}

.tab button{
    color: #00004D;
    font-size: 16px;
    font-weight: 600;
}

.hidden {
    display: none;
}

.background {
    background-color: #007BCC;
    flex: 0 0 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img {
    width: 100%;
    height: auto;
    max-width: 700px;
    background-size: cover;
}

.tablink {
    background-color: #ffffff;
    border: none;
    color: #00004D;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
    width: 100%;
}

.tablink.active {
    background-color: #004A7B;
    color: #ffffff;
}

.tabcontent {
    margin-top: 15px;
}

.tabcontent button {
    background-color: #ffffff;
    color: #00004D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.tabcontent button:hover{
    background-color: #004A7B;
    color: #ffffff;
}

.buttons{
    background-color: #ffffff;
    color: #00004D;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;    
}

.buttons:hover {
    background-color: #004A7B;
    color: #ffffff;
}
