<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELLP Manager</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/view/images/ELLP logo horizontal 1.png" alt="">
        </div>
        <div class="auth-buttons">
            <button>Registrar</button>
            <button>Entrar</button>
        </div>
    </header> 
    <div class="container">
        <div id="form-1" class="form">
            <form id="register-form">
                <div class="tab">
                    <button type="button" class="tablink active" onclick="openTab(event, 'voluntario')">Registrar Voluntário</button>
                    <button type="button" class="tablink" onclick="openTab(event, 'coordenador')">Registrar Coordenador</button>
                </div>

                <div id="voluntario" class="tabcontent">
                    <input type="text" id="nome" placeholder="Nome" required>
                    <input type="date" id="nascimento" placeholder="Data de Nascimento" required>
                    <input type="text" id="cpf" placeholder="CPF" required>
                    <input type="text" id="nacionalidade" placeholder="Nacionalidade" required>
                    <input type="text" id="endereco" placeholder="Endereço" required>
                    <input type="text" id="cidade" placeholder="Cidade" required>
                    <select name="estado" id="istate">
                        <option value="#"  disabled selected hidden>Estado</option>
                        <option value="#">Paraná</option>
                    </select>
                    <input type="text" id="ra" placeholder="Registro de Aluno (RA)" required>
                    <input type="text" id="curso" placeholder="Curso" required>
                    <button type="submit">Próximo</button>
                </div>

                <div id="coordenador" class="tabcontent" style="display:none;">
                    <input type="text" id="nome-coordenador" placeholder="Nome" required>
                    <input type="date" id="nascimento-coordenador" placeholder="Data de Nascimento" required>
                    <input type="text" id="cpf-coordenador" placeholder="CPF" required>
                    <input type="text" id="nacionalidade-coordenador" placeholder="Nacionalidade" required>
                    <input type="text" id="endereco-coordenador" placeholder="Endereço" required>
                    <input type="text" id="cidade-coordenador" placeholder="Cidade" required>
                    <input type="text" id="estado-coordenador" placeholder="Estado" required>
                    <input type="text" id="instituicao" placeholder="Instituição" required>
                    <input type="text" id="departamento" placeholder="Departamento" required>
                    <button type="submit">Próximo</button>
                </div>
            </form>
        </div>
        <section class="background">
            <img src="images/ELLP background 1.png" alt="">
        </section>
    </div>

    <script src="script.js"></script>
</body>
</html>
