<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ELLP Manager - Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/view/images/ELLP logo horizontal 1.png" alt="Logo ELLP Manager">
        </div>
        <div class="auth-buttons">
            <button class="registrar"><i class="fa-solid fa-user-plus"></i><a href="cadastro.html">Registrar</a></button>
            <button class="entrar"><a href="login.html">Entrar</a></button>
        </div>
    </header> 
    <div class="container">
        <div class="form">
            <form id="login-form">
                <div class="tab">
                    <button type="button" class="tablink active" onclick="openTab(event, 'voluntario')">Login Voluntário</button>
                    <button type="button" class="tablink" onclick="openTab(event, 'coordenador')">Login Coordenador</button>
                </div>
                <div id="voluntario" class="tabcontent">
                    <input type="text" id="ra" placeholder="Registro de Aluno (RA)" required> 
                    <input type="password" id="senha" placeholder="Senha" required>   
                    <button type="submit">Entrar</button>
                </div>
                <div id="coordenador" class="tabcontent" style="display:none;">
                    <input type="email" id="email" placeholder="Email Institucional" required>
                    <input type="password" id="senha-coordenador" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </div>
            </form>
        </div>
        <section class="background">
            <img src="images/ELLP background 1.png" alt="ELLP Manager">
        </section>
    </div>
    <script src="login.js"></script>
</body>
</html>
